<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
 <meta name="p:domain_verify" content="3ef6724145296012c050ce28ec999261"/>     

<!-- preload images -->
  
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <a id="eii-home-top"></a>

<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/mainpage-three-rect01-00.jpg?v=1640749171" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/mainpage-three-rect01-01.jpg?v=1640749171" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/mainpage-three-rect01-02.jpg?v=1640749171" as="image">  

  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/collections/special-device-2022.png?v=1640720371" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/collections/laptop-tv-2022.png?v=1640720538" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/collections/special-router-2022.png?v=1640714377" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/collections/basic-router-2022.png?v=1640715009" as="image">  

<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/why-ei2-logo_d2df86e8-6663-41b5-855f-b5b447037bc5.jpg?v=1640731556" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/why-atmanirbhar-logo.jpg?v=1640730684" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/best-powerbank-logo.jpg?v=1640730664" as="image">  

<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/because-smart.jpg?v=1640736539" as="image">  


<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/accessories-spares-coll-01.jpg?v=1640990705" as="image">  

<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/collections/laptop-tv-2022.png?v=1642441863" as="image">  

  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/text-only-banner-SD-001.jpg?v=1638663416" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/text-only-banner-SD-002.jpg?v=1638663437" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/text-only-banner-SD-003.jpg?v=1638663458" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-white-blue-ON_805628ac-78c4-4233-96c6-ceadcccf1c38_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-06_58a0061e-a739-479c-b52f-4d2325e77351_1024x1024@2x.jpg?v=1638242567" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-holding_txp_1024x1024@2x.png?v=1638242567" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-main-pix-03_0e9c09e0-0278-4a08-bd22-9ae3ad3e8014_1024x1024@2x.jpg?v=1638242567" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-ismetric-laptop_bea2fd81-be88-4fdc-b0b9-06fc94bd5072_1024x1024@2x.jpg?v=1638242567" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-laptop-phone-top_e275d4c0-4a50-4b25-b063-cd3794b0c76f_1024x1024@2x.jpg?v=1638242567" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-isometric_a9152608-ddd6-4f43-8545-fc732f74c1c4_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-back_704d7fe5-4989-4a54-88cd-3792f555ffe9_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/Laptop-connector-set_1c5d95be-434d-4883-8502-e73a6c3f5c08_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-mainpix-01_549de04a-0cde-47db-97e2-9d157d79e223_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-white-blue-ON_805628ac-78c4-4233-96c6-ceadcccf1c38_1024x1024@2x.jpg?v=1638242562" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-with-Qi_txp-optional_1024x1024@2x.png?v=1638317459" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-with-Qi-side_txp-optional_1024x1024@2x.png?v=1638317460" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-feature-list-grid_1024x1024@2x.jpg?v=1638325516" as="image">
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/9-reasons-LTU-lite-imageonly_1024x1024@2x.png?v=1638578263" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/holidays-2022-banner.jpg?v=1638764815" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lit-front-power_1024x1024@2x.jpg?v=1638838173" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-lite-main-pix-05_1024x1024@2x.jpg?v=1639234639" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/mainpix-ltupro_1024x1024@2x.jpg?v=1640806582" as="image"> 
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/products/LTU-feather-001_1024x1024@2x.jpg?v=1640380660" as="image">  
<link rel="preload" href="https://cdn.shopify.com/s/files/1/0469/0522/9462/files/product-compare_bf4c2b4e-ff54-4d75-b236-03d20e1ae3c9.jpg?v=1641479758" as="image"">  
  
  
  
  
  <!-- preload images -->  
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <meta name="keywords" content="Laptop Power Bank, power bank for laptops, Computer Ups, UPS for Computers, Router Ups, Ups For Routers, Ups For Wifi Router, Wifi Router Ups, Tv Ups, Ups For TV, Energy Intelligence">
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZE8HXYS7JG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-10826068378');
  gtag('config', 'G-ZE8HXYS7JG');
</script>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K3WJWD5');</script>
<!-- End Google Tag Manager -->
                                                                            
                                                                            
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-10826068378',
    'value': 'replace with value',
    'items': [{
      'id': 'replace with value',
      'location_id': 'replace with value',
      'google_business_vertical': 'custom'
    }]
  });
</script>
                                                                            

  {%- if canonical_url != blank  -%}
    <link rel="canonical" href="{{ canonical_url }}">
  {%- endif -%}

  {%- if settings.favicon != blank -%}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {%- endif -%}

  {%- capture seo_title -%}
    {%- if request.page_type == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}

    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>

  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <script>
    var theme = {
      breakpoints: {
        medium: 750,
        large: 990,
        widescreen: 1400
      },
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        salePrice: {{ 'products.product.sale_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        fromLowestPrice: {{ 'products.product.from_lowest_price_html' | t: lowest_price: '[price]' | json }},
        vendor: {{'products.product.vendor' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        searchFor: {{ 'general.search.search_for' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }},
        removeLabel: {{ 'cart.label.remove' | t: product: '[product]' | json }},
        update: {{ 'cart.label.update' | t | json }},
        quantity: {{ 'cart.label.quantity' | t | json }},
        discountedTotal: {{ 'cart.label.discounted_total' | t | json }},
        regularTotal: {{ 'cart.label.regular_total' | t | json }},
        priceColumn: {{ 'cart.label.price_column' | t | json }},
        quantityMinimumMessage: {{ 'products.product.quantity_minimum_message' | t | json }},
        cartError: {{ 'cart.general.cart_error' | t | json }},
        removedItemMessage: {{ 'cart.general.removed_item_html' | t: quantity: '[quantity]', link: '[link]' | json }},
        unitPrice: {{ 'products.product.unit_price_label' | t | json }},
        unitPriceSeparator: {{ 'general.accessibility.unit_price_separator' | t | json }},
        oneCartCount: {{ 'cart.popup.cart_count' | t: count: 1 | json }},
        otherCartCount: {{ 'cart.popup.cart_count' | t: count: '[count]' | json }},
        quantityLabel: {{ 'cart.popup.quantity_label' | t: quantity_count: '[count]' | json }},
        products: {{ 'general.search.products' | t | json }},
        loading: {{ 'general.search.loading' | t | json }},
        number_of_results: {{ 'general.search.number_of_results' | t: result_number: '[result_number]', results_count: '[results_count]' | json }},
        number_of_results_found: {{ 'general.search.number_of_results_found' | t: results_count: '[results_count]' | json }},
        one_result_found: {{ 'general.search.one_result_found' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }},
      moneyFormatWithCurrency: {{ shop.money_with_currency_format | json }},
      settings: {
        predictiveSearchEnabled: {{ settings.predictive_search_enabled | json }},
        predictiveSearchShowPrice: {{ settings.predictive_search_show_price | json }},
        predictiveSearchShowVendor: {{ settings.predictive_search_show_vendor | json }}
      }
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {%- if request.page_type contains 'customers/' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

  <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

{% comment %} ENERGYINTELLIGENCE added two lines below {% endcomment %}
{%-assign hura_token="now"|date:"%Y%m%d%H%M%S"-%}
{{'//apps.anhkiet.info/prevent-content-theft/scripts/5b271d62650d087bec4eac9e375cb1c6.js?token='|append:hura_token|script_tag}}
                                                          
</head>

<body class="template-{{ request.page_type | handle }}">
  
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K3WJWD5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  {%- if settings.enable_ajax -%}
    {% include 'cart-popup' %}
  {%- endif -%}

  {% section 'header' %}

  <div class="page-container drawer-page-content" id="PageContainer">

    <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <div id="slideshow-info" class="visually-hidden" aria-hidden="true">
      {{- 'sections.slideshow.navigation_instructions' | t -}}
    </div>

  </div>

  <ul hidden>
    <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
    <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
  </ul>
</body>
</html>

#shopify-section-ambassadors-columns .h4 {
	margin-top: 20px;
}
                                   